/* Estilo para los campos anidados */
.nested-fields {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  }

    =f.input :user_id:, as: :select, collection: User.all - [current_user]
    =f.input :role